.itemDiv{
    display: flex;
    justify-content: space-around;
    width: 550px;
    margin: auto;
}

.itemDiv > input{
    border: solid 2px;
    width: 200px;
}

.itemDiv > button{
    width: 55px;
}

.lineDone{
    width: 400px;
    text-decoration: line-through;
}
.lineUnDone{
    width: 400px;

    text-decoration: none
}
